<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h1>Lista de Terapias</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="align-items-center">
          <div class="doctor-table-blk">
            <div class="row doctor-search-blk w-100">
              <div class="col-12 col-md-12 col-xl-2 mt-3">
                <div class="local-forms top-nav-search table-search-blk w-100">
                  <label>Paciente</label>
                  <input class="form-control" placeholder="Buscar Paciente" (ngModelChange)="filtroData()">
                  <a class="btn"><img src="assets/img/search-normal.svg" alt=""></a>
                </div>
              </div>
              <div class="col-6 col-md-3 col-xl-2 mt-3">
                <div class="add-group">
                  <a (click)="agregarTerapias()" class="btn btn-primary add-pluss ms-2"><img src="assets/img/plus.svg"
                      alt=""></a>
                  <a (click)="refreshData()" href="javascript:;" class="btn btn-primary doctor-refresh ms-2"><img
                      src="assets/img/re-fresh.svg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-table show-entire">
          <div class="card-body">
            <div *ngIf="isLoading" class="spinner-container">
              <div class="custom-spinner"></div>
            </div>
            <div *ngIf="!isLoading" class="table-responsive">
              <table class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of displayList; let i = index" >
                    <td>{{serialNumberArray[i]}}</td>
                    <td>{{data.imagen}}</td>
                    <td>{{data.nombre}}</td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" href="javascript:void(0);" (click)="editarTerapias(1)">
                            <i class="fa-solid fa-pen-to-square m-r-5"></i> Editar</a>
                          <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-trash-alt m-r-5"></i>
                            Eliminar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
              </table>
            </div>
            <!-- Paginación -->
            <div class="table-flooter d-flex justify-content-between  mt-3 flex-wrap">
              <div *ngIf="serialNumberArray.length === 0">
                No hay entradas para mostrar
              </div>
              <nav>
                <ul class="pagination mb-0">
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <a class="page-link" (click)="getMoreData('previous')">Anterior</a>
                  </li>
                  <li class="page-item" *ngFor="let item of pageNumberArray" [class.active]="item === currentPage">
                    <a class="page-link" (click)="moveToPage(item)">{{ item }}</a>
                  </li>
                  <li class="page-item"
                    [class.disabled]="currentPage === pageNumberArray[pageNumberArray.length - 1] || TerapiasList.length === 0">
                    <a class="page-link" (click)="getMoreData('next')">Siguiente</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
