<!-- menu.component.html -->
<nav class="menu">
  <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
  <a routerLink="/nosotros" routerLinkActive="active">Quiénes somos</a>
  <!-- Mostrar botón de login si no hay usuario -->

  <a *ngIf="!authService.currentUser" (click)="login()" class="login-link">
    <i class="fas fa-sign-in-alt me-2"></i>Ingresar
  </a>
  <!-- Mostrar nombre de usuario y logout si está logueado -->
  <span *ngIf="authService.currentUser" class="user-info">
    <i class="fas fa-user-circle me-1"></i>
    <a (click)="authService.logout()" class="ms-2">
      <i class="fas fa-sign-out-alt me-1"></i>Cerrar sesión
    </a>
  </span>

</nav>
