<div class="content-modal">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" >
            <div class="row form-grid">
              <div class="col-left">
                <div class="form-heading">
                  <h4>Nuevo Usuario</h4>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Nombre<span class="login-danger">*</span></label>
                      <input formControlName="nombre" class="form-control" type="text">
                      <div *ngIf="isInvalid('nombre') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('nombre')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Apellidos<span class="login-danger">*</span></label>
                      <input formControlName="apellidos" class="form-control" type="text">
                      <div *ngIf="isInvalid('apellidos') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('apellidos')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Edad<span class="login-danger">*</span></label>
                      <input formControlName="edad" class="form-control" type="text">
                      <div *ngIf="isInvalid('edad') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('edad')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Telefono<span class="login-danger">*</span></label>
                      <input formControlName="telefono" class="form-control" type="text">
                      <div *ngIf="isInvalid('telefono') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('telefono')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-right">
                <div class="profile-block">
                  <label><strong>Foto de perfil</strong><span class="login-danger"></span></label>
                  <div class="profile-photo-container">
                    <div class="photo-preview">
                      <img [src]="fotoPreview || 'assets/img/user.jpg'" alt="Foto de perfil">
                    </div>
                    <div class="photo-upload">
                      <input type="file" #fotoInput (change)="onFileSelected($event)" hidden>
                      <button type="button" class="btn btn-primary" (click)="fotoInput.click()">
                        Subir Foto
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="col-12">
            <div class="doctor-submit ">
              <button type="submit" (click)="guardarUsuario()" class="btn btn-primary submit-form me-2">Guardar</button>
              <button type="submit" (click)="Cancelar()" class="btn btn-primary cancel-form">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
