<div class="content-modal">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="form" >
            <div class="row form-grid">
              <div class="col-left">
                <div class="form-heading">
                  <h4>Nuevo Usuario</h4>
                </div>

                <div class="row">
                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Usuario<span class="login-danger">*</span></label>
                      <input formControlName="username" class="form-control" type="text">
                      <div *ngIf="isInvalid('username') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('username')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12 col-md-6">
                    <div class="form-group local-forms">
                      <label>Contraseña<span class="login-danger">*</span></label>
                      <input formControlName="password" class="form-control" type="text">
                      <div *ngIf="isInvalid('password') || mostrarErrores" class="invalid-feedback">
                        <div *ngIf="isRequerido('password')|| mostrarErrores">
                          Debe completar el campo*
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="col-12">
            <div class="doctor-submit ">
              <button type="submit" (click)="crearUsuario()" class="btn btn-primary submit-form me-2">Guardar</button>
              <button type="submit" (click)="Cancelar()" class="btn btn-primary cancel-form">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
