<div class="content-modal">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<form>
						<div class="row form-grid">
							<div class="col-left">
								<div class="form-heading">
									<h4>Editar Actividad</h4>
								</div>

								<div class="row">
									<div class="col-12 col-md-6">
										<div class="form-group local-forms">
											<label>Nombre <span class="login-danger">*</span></label>
											<input name="nombre" class="form-control" type="text" placeholder="Nombre">
										</div>
									</div>
									<div class="col-12 col-md-6">
										<div class="form-group local-forms">
											<label>Descripción <span class="login-danger">*</span></label>
											<textarea name="descripcion" class="form-control" rows="3" placeholder="Descripción"></textarea>
										</div>
									</div>
								</div>
							</div>

							<div class="col-right">
								<div class="profile-block">
									<label>Imagen</label>
									<div class="profile-photo-container">
										<div class="photo-preview">
											<img src="assets/img/user.jpg" alt="Imagen">
										</div>
										<div class="photo-upload">
											<input type="file" hidden>
											<button type="button" class="btn btn-primary">Subir Imagen</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>

					<div class="col-12">
						<div class="doctor-submit ">
							<button type="button" class="btn btn-primary submit-form me-2">Guardar</button>
							<button type="button" class="btn btn-primary cancel-form">Cancelar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
