<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header mb-3">
      <div class="row">
        <div class="col-sm-12">
          <h1><strong>Editar Taller</strong></h1>
        </div>
      </div>
    </div>

    <form [formGroup]="form">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body mt-2">
              <!-- Encabezado de detalles -->
              <div class="row mb-3">
                <div class="col-12">
                  <h2 class="modal-content"><strong>Detalles del Taller</strong></h2>
                </div>
              </div>
              <!-- Nombre y Descripción -->
              <div class="row mb-3">
                <div class="col-12 col-md-6">
                  <div class="form-group local-forms">
                    <label>Nombre <span class="login-danger">*</span></label>
                    <input formControlName="nombre" class="form-control" type="text">
                    <div *ngIf="isInvalid('nombre') || mostrarErrores" class="invalid-feedback d-block">
                      Debe completar el campo*
                    </div>
                  </div>
                </div>
              </div>
              <!-- Foto de Terapia -->
              <div class="row mb-3">
                <div class="col-12 col-md-6">
                  <div class="profile-block">
                    <label><strong>Foto de Taller</strong></label>
                    <div class="profile-photo-container d-flex align-items-center gap-3">
                      <div class="photo-preview">
                        <img [src]="fotoPreview || 'assets/img/user.jpg'" alt="Foto de perfil" class="img-thumbnail"
                          style="max-width: 280px;">
                      </div>
                      <div class="photo-upload">
                        <input type="file" formControlName="imagen" #fotoInput (change)="onFileSelected($event)" hidden>
                        <button type="button" class="btn btn-primary" (click)="fotoInput.click()">Subir Foto</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Descripción -->
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Contenido<span class="text-danger">*</span></label>
                    <textarea formControlName="descripcion" class="form-control" rows="10"
                      placeholder="Ingrese contenido"></textarea>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- Botones Guardar / Cancelar -->
    <div class="row mt-4">
      <div class="col-12 d-flex gap-2">
        <button type="button" (click)="guardarTaller()" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="Cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
